<h1>Hello!!!</h1>
<form phx-change="update" phx-submit="find-average">
  <div>
    <label for="amount">
      Amont
    </label>
    <input
      type="number"
      name="amount"
      amount="amount"
      value={@amount}
      placeholder="Amount"
      autocomplete="off"
      id="amount"
    />
  </div>
</form>
